<a href="https://colab.research.google.com/github/he16946/Data_Labs/blob/master/Bank_classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [25]:
df = pd.read_csv("https://raw.githubusercontent.com/albanda/CE888/master/lab4/bank-additional-full.csv", sep=';')
#df.dtypes
#df.nunique()
df = pd.get_dummies(df, columns=['job', 'marital','education','default','housing', 'loan', 'contact', 'month', 'day_of_week', 'poutcome', 'y'])
del df["y_no"]
del df["duration"]

<bound method DataFrame.nunique of        age  campaign  pdays  ...  poutcome_nonexistent  poutcome_success  y_yes
0       56         1    999  ...                     1                 0      0
1       57         1    999  ...                     1                 0      0
2       37         1    999  ...                     1                 0      0
3       40         1    999  ...                     1                 0      0
4       56         1    999  ...                     1                 0      0
...    ...       ...    ...  ...                   ...               ...    ...
41183   73         1    999  ...                     1                 0      1
41184   46         1    999  ...                     1                 0      0
41185   56         2    999  ...                     1                 0      0
41186   44         1    999  ...                     1                 0      1
41187   74         3    999  ...                     0                 0      0

[41188 rows x 63 columns]>