<a href="https://colab.research.google.com/github/he16946/Data_Labs/blob/master/BlackJack.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import os
import pandas as pd

os.environ['KAGGLE_USERNAME'] = "ce889group3" # username from the json file

os.environ['KAGGLE_KEY'] = "2fec783dbd857229b51562347fd33dfe" # key from the json file

! kaggle datasets download -d mojocolors/900000-hands-of-blackjack-results
! unzip -q "900000-hands-of-blackjack-results.zip"

Downloading 900000-hands-of-blackjack-results.zip to /content
 42% 3.00M/7.14M [00:00<00:00, 29.4MB/s]
100% 7.14M/7.14M [00:00<00:00, 35.0MB/s]

In [0]:
df = pd.read_csv("blkjckhands.csv")

In [4]:
df.head()

   Unnamed: 0 PlayerNo  card1  ...  plwinamt  dlwinamt  ply2cardsum
0           0  Player1      7  ...         0        10           17
1           1  Player2     10  ...        20         0           19
2           2  Player3      9  ...         0        10           17
3           3  Player4      2  ...         0        10           12
4           4  Player5     10  ...         0        10           12

[5 rows x 21 columns]

In [6]:
df.columns

Index(['Unnamed: 0', 'PlayerNo', 'card1', 'card2', 'card3', 'card4', 'card5',
       'sumofcards', 'dealcard1', 'dealcard2', 'dealcard3', 'dealcard4',
       'dealcard5', 'sumofdeal', 'blkjck', 'winloss', 'plybustbeat',
       'dlbustbeat', 'plwinamt', 'dlwinamt', 'ply2cardsum'],
      dtype='object')

In [9]:
df['blkjck'].value_counts()

nowin    856939
Win       43061
Name: blkjck, dtype: int64

In [8]:
print('Black Jack', round(df['blkjck'].value_counts()[Win]/len(df) * 100,2), '% of the dataset')
print('No Black Jack', round(df['blkjck'].value_counts()[nowin]/len(df) * 100,2), '% of the dataset')

NameError: ignored