<a href="https://colab.research.google.com/github/he16946/Data_Labs/blob/master/Spotify.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import os
import pandas as pd

os.environ['KAGGLE_USERNAME'] = "ce889group3" # username from the json file

os.environ['KAGGLE_KEY'] = "2fec783dbd857229b51562347fd33dfe" # key from the json file

! kaggle datasets download -d iamsumat/spotify-top-2000s-mega-dataset
! unzip -q "spotify-top-2000s-mega-dataset.zip"

spotify-top-2000s-mega-dataset.zip: Skipping, found more recently modified local copy (use --force to force download)

In [0]:
df = pd.read_csv("Spotify-2000.csv")

In [5]:
df.describe()

             Index         Year  ...  Speechiness  Popularity
count  1994.000000  1994.000000  ...  1994.000000  1994.00000
mean    997.500000  1992.992979  ...     4.994985    59.52658
std     575.762538    16.116048  ...     4.401566    14.35160
min       1.000000  1956.000000  ...     2.000000    11.00000
25%     499.250000  1979.000000  ...     3.000000    49.25000
50%     997.500000  1993.000000  ...     4.000000    62.00000
75%    1495.750000  2007.000000  ...     5.000000    71.00000
max    1994.000000  2019.000000  ...    55.000000   100.00000

[8 rows x 11 columns]

In [7]:
print('Speechy', round(df['Speechiness'].value_counts()[2.000000]/len(df) * 100,2), '% of the dataset')

No Frauds 1.55 % of the dataset

In [8]:
df['Speechiness'].value_counts()

3     876
4     472
5     208
6     123
7      60
8      50
2      31
10     30
9      28
12     16
11     12
17     11
15      9
14      8
13      7
18      6
19      5
16      5
20      4
30      4
24      4
23      3
31      3
32      3
25      2
26      2
39      2
36      1
44      1
41      1
38      1
46      1
22      1
29      1
28      1
27      1
55      1
Name: Speechiness, dtype: int64